<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <style>
      body {
        background-color: #f8f8f8;
        font-family: Arial, sans-serif;
        color: #333;
        text-align: center;
      }
      h2 {
        font-size: 36px;
        margin-top: 3em;
        margin-bottom: 1em;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 1.5em;
      }
    </style>
  </head>
  <body>
    <h2>Oops! Something went wrong.</h2>
    <p>We're sorry, but there was an error processing your request.</p>
    <p>The Game you are trying to find doesn't exist.</p>
    <form>
      <input type="button" value="Go back!" onclick="history.back()">
     </form>
  </body>
</html>