<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Game Deal Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <!-- Navigation -->
  <nav class="nav-bar">
    <a href="/" class="home-button">Home</a>
    <a href="/Current_Deals" class="current-deals-button">Current Deals</a>
    <a href="/Search_for_Deal" class="search-for-deals-button">Search for Deals</a>
    <a href="/Stores" class="store-button">Stores</a>
    <form action="{{ url_for("search_for_deals")}}" method="post">
      <input type="text" name="deal" placeholder="Search..">
      <button type="submit">Search</button>
    </form>
  </nav>

  <main>
    <div class="center-box">
      <table id="myTable" class="deals-table">
        <thead>
          <tr>
            <th>Metacritic Score</th>
            <th>Metacritic Link</th>
            <th>Steam Rating Text</th>
            <th>Steam Rating Percent</th>
            <th>Steam Rating Count</th>
            <th>Release Date</th>
            <th>Last Change</th>
          </tr>
        </thead>
        <tbody>
          {% for game in game_info %}
            <tr>
              <td>{{ game.metacritic_score }}</td>
              <td><a href="https://www.metacritic.com{{ game.metacritic_link }}">{{ game.metacritic_link }}</a></td>
              <td>{{ game.steam_rating_text }}</td>
              <td>{{ game.steam_rating_percent }}%</td>
              <td>{{ game.steam_rating_count }}</td>
              <td>{{ game.release_date }}</td>
              <td>{{ game.last_change }}</td>
            </tr>
          {% endfor %}     
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
