<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Game Deal Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<style>
  body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
  }
</style>
<body>
  <!-- Navigation -->
  <nav class="nav-bar">
    <a href="/" class="home-button">Home</a>
    <a href="/Current_Deals" class="current-deals-button">Current Deals</a>
    <a href="/Stores" class="store-button">Stores</a>
    <form action="{{ url_for("search_for_deals")}}" method="post">
      <input type="text" name="deal" placeholder="Search..">
      <button type="submit">Search</button>
    </form>
  </nav>
  <main>
    <div class="center-box">
      <table id="myTable" class="deals-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Metacritic Score</th>
            <th>Metacritic Link</th>
            <th>Steam Rating Text</th>
            <th>Steam Rating Percent</th>
            <th>Steam Rating Count</th>
            <th>Release Date</th>
            <th>Last Change</th>
          </tr>
        </thead>
        <tbody>
          {% for game in game_info %}
          <tr>
              <td>{{ game.title }}</td>
              <td>
                  {% if game.metacritic_score == 0 %}
                      -
                  {% else %}
                      {{ game.metacritic_score }}
                  {% endif %}
              </td>
              <td>
                  {% if game.metacritic_link == "None" %}
                      -
                  {% else %}
                      <a href="https://www.metacritic.com{{ game.metacritic_link }}">View Review</a>
                  {% endif %}
              </td>
              <td>
                  {% if game.steam_rating_text == "None" %}
                      -
                  {% else %}
                      {{ game.steam_rating_text }}
                  {% endif %}
              </td>
              <td>
                  {% if game.steam_rating_percent == 0 %}
                      -
                  {% else %}
                      {{ game.steam_rating_percent }}%
                  {% endif %}
              </td>
              <td>
                  {% if game.steam_rating_count == 0 %}
                      -
                  {% else %}
                      {{ game.steam_rating_count }}
                  {% endif %}
              </td>
              <td>{{ game.release_date }}</td>
              <td>{{ game.last_change }}</td>
          </tr>
          {% endfor %}
              
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
