<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Game Deal Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<style>
  body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
  }
</style>
<body>
  <!-- Navigation -->
  <nav class="nav-bar">
    <a href="/" class="home-button">Home</a>
    <a href="/Current_Deals" class="current-deals-button">Current Deals</a>
    <a href="/Stores" class="store-button">Stores</a>
    <form action="{{ url_for("search_for_deals")}}" method="post">
      <input type="text" name="deal" placeholder="Search..">
      <button type="submit">Search</button>
    </form>
  </nav>
  <h2>This was created using the CheapShark API</h2>
  <a href="https://apidocs.cheapshark.com">Link to CheapShark API</a>
</body>
</html>
