<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <!-- Navigation -->
  <nav class="nav-bar">
    <a href="/" class="home-button">Home</a>
    <a href="/Current_Deals" class="current-deals-button">Current Deals</a>
    <a href="/Search_for_Deal" class="search-for-deals-button">Search for Deals</a>
    <a href="/Stores" class="game-button">Stores</a>
    <form action="{{ url_for("search_for_deals")}}" method="post">
    <input type="text" name="deal" placeholder="Search..">
    <button type="submit">Search</button>
  </nav>
</body>
<html>
    <main>
      <div class="center-box">
        <table id="myTable" class="deals-table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Deal ID</th>
              <th>Sale Price</th>
              <th>Store ID</th>
              <th>Normal Price</th>
              <th>On Sale</th>
              <th>Savings</th>
            </tr>
          </thead>
          <tbody>
            {% for deal in deals %}
              <tr>
                <td>{{ deal.title }}</td>
                <td>{{ deal.deal_id }}</td>
                <td>{{ deal.sale_price }}</td>
                <td>{{ deal.store_id }}</td>
                <td>{{ deal.normal_price }}</td>
                <td>{{ deal.on_sale }}</td>
                <td>{{ deal.savings }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>