<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <!-- Navigation -->
  <nav class="nav-bar">
    <a href="/" class="home-button">Home</a>
    <a href="/Current_Deals" class="current-deals-button">Current Deals</a>
    <a href="/Search_for_Deal" class="search-for-deals-button">Search for Deals</a>
    <a href="/Stores" class="game-button">Stores</a>
  </nav>
</body>
<html>
    <main>
      <div class="center-box">
        <table id="myTable" class="stores-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Store</th>
            </tr>
          </thead>
          <tbody>
            {% for store in stores %}
              <tr>
                <td>{{ store.ID }}</td>
                <td>{{ store.store_name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>