<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<style>
  body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
  }
</style>
<body>
    <!-- Navigation -->
  <nav class="nav-bar">
    <a href="/" class="home-button">Home</a>
    <a href="/Current_Deals" class="current-deals-button">Current Deals</a>
    <a href="/Search_for_Deal" class="search-for-deals-button">Search for Deals</a>
    <a href="/Stores" class="store-button">Stores</a>
    <form action="{{ url_for("search_for_deals")}}" method="post">
      <input type="text" name="deal" placeholder="Search..">
      <button type="submit">Search</button>
    </form>
  </nav>
</body>
<html>
    <main>
      <div class="center-box">
        <table id="myTable" class="deals-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Store</th>
              <th>Currently Active</th>
            </tr>
          </thead>
          <tbody>
            {% for store in stores %}
              <tr>
                <td>{{ store.ID }}</td>
                <td>{{ store.store_name }}</td>
                <td>{{ store.store_is_active }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>